<form action="<%= forecasts_path %>" method="GET">
  <label for="address_search">Enter an address:</label>
  <input type="text" name="address_search" value="<%= @address_search %>">
  <input type="submit" value="Submit">
</form>