<h1>Forecasts</h1>

<%= render 'search_form' %>

<% if @address_search && @location.nil? %>
  <p>No location found.</p>
<% end %>

<% if @location %>
  <h2>Forecast for <%= @location.display_name %></h2>
<% end %>

<% if @forecast %>
  <h3>Current Temperature: <%= @forecast.current_temperature %></h3>
<% end %>
